/* media query */
@media screen and (max-width: 1024px) {
  html {
    font-size: 55%;
  }
  .container {
    width: var(--container-width-md);
  }
  header .logo {
    width: 30%;
  }
  .home-container {
    gap: 2rem;
  }
  .form-box {
    width: 100%;
    height: 150%;
    overflow: hidden;
  }
  #btn {
    width: 30%;
  }
  .record-container{
    grid-template-columns: repeat(1,1fr);
    }
    .record-image:first-child {
      order: 2;
  }
  .record-container .info-detail{
    justify-content: center;
  }
  .record-container .info-detail img{
    width: 20%;
  }
  #message{
    left: 90%;
  }
}
@media screen and (max-width: 912px) {
  .footer .box-container{
    grid-template-columns: repeat(2,1fr);
    }
    .footer .box-container .social-links .links {
      grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 800px) {
  .container {
    width: var(--container-width-md);
  }
  header {
    padding: 2rem;
  }
  .contain {
    width: 10%;
    text-align: center;
  }
  #menu-bar {
    display: initial;
  }
  header .logo {
    width: 50%;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    width: 50%;
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s ease;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar .navigate {
    grid-template-columns: repeat(1, 1fr);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  header .navbar .navigate #heading a {
    display: block;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem 0;
    background-color: white;
    color: black;
    width: 100%;
  }
  .list #heading img {
    display: none;
  }
  #dropdown.active {
    display: none;
  }
  header .icons #d-none {
    display: none;
  }
  header .search_container .bar input {
    display: none;
  }
  header .search_container .icon {
    height: 4rem;
    background-color: transparent;
    color: var(--color-purple);
    font-size: 3rem;
    margin-top: -2rem;
    border-radius: 0;
  }
  .home-container {
    display: grid;
    gap: 2rem;
  }
  .form-box {
    width: 100%;
    height: 140%;
    overflow: hidden;
  }
  #btn {
    width: 20%;
  }
  .services .card-container {
    padding: 2.5rem 3%;
  }
    #message{
      left: 85%;
    }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  header .logo {
    width: 100%;
  }
  .btn button {
    display: none;
  }
  .slider-section {
    width: 70%;
  }
  .home-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
  .services .card-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding: 2.5rem 9%;
    margin: 10rem 0;
  }
  .services .card-container .cards .card-heading{
    justify-content: center;
    align-items: center;
      }
      .services .card-container .cards p {
        text-align: center;
      }
  .btn-card button {
    width: 100%;
    text-align: center;
  }
  .add-heading{
    align-items: center;
    justify-content: center;
  }
  .add-container p{
   text-align: center;
  }
  .add-heading img {
    width: 10%;
    height: 10%;
  }
  .footer .box-container{
    grid-template-columns: repeat(1,1fr);
    }
    .button-group {
      order: 4;                                        
      margin: 0rem 9%;
    }
    .message {
      order: 3; 
      margin-top: 10rem;                                     
    }
    #login-form{
      order: 1;                                    
    }
    .slide-container{
      order: 2;                                    
    margin: 2rem 0;
    }
    #fixed-button{
      left: 90%;
  }
  #message{
    left: 80%;
  }
}

@media screen and (max-width: 405px) {
  header .logo .content h1 {
    font-size: 2rem;
  }
  header .logo .content p {
    font-size: 1rem;
    line-height: normal;
  }
  .slider-section .box {
    flex-direction: column;
    justify-content: center;
    place-items: center;
  }
  #btn {
    width: 30%;
  }
  .record-container .info-detail img{
    width: 30%;
  }
  .record-container .info-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
