@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-green: #77933c;
  --color-red: #c0504d;
  --color-grey: #ffffff;
  --color-darkGrey: #ced4da;
  --color-blue: #0096c8;
  --color-lightPurple: #f7f5f9;
  --color-purple: #8064a2;
  --color-purple2: #ccc1da;
  --container-width-lg: 90%;
  --container-width-md: 86%;
  --container-width-sm: 85%;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  font-size: 62.5%;
}
::-webkit-scrollbar {
  display: none;
}

body {
  padding-top: 100px;
  font-family: "Poppins", sans-serif;
}
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}
/* ------------------------------------------------- NAVBAR------------------------------------------------------------ */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 2rem 2%;
  transition: 0.5s ease;
  background-color: white;
}

/* navbar */
header .navbar {
  position: relative;
}
header .navbar .navigate {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header .navbar .navigate a {
  position: relative;
  color: black;
  font-size: 2rem;
  margin: 0 0.8rem;
  padding: 1rem;
}
header .icons i {
  font-size: 2.8rem;
  color: azure;
  cursor: pointer;
}

/* logo */
header .logo {
  font-style: italic;
  display: flex;
  gap: 1rem;
  width: 17%;
  /* background-color: rebeccapurple; */
}
header .logo .letter {
  font-size: 1.2rem;
  padding: 0 1rem;
  border: 3px solid var(--color-purple);
  color: var(--color-blue);
}
header .logo .content {
  text-align: left;
}
header .logo .content h1 {
  font-size: 2rem;
  color: var(--color-blue);
}
header .logo .content p {
  color: #aaaeb1;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* dropdown */
ul li {
  display: inline-block;
  position: relative;
  border: 0.5px solid var(--color-darkGrey);
}
ul li:hover {
  background-color: var(--color-darkGrey);
}
ul .list {
  display: inline-block;
  position: relative;
}
ul#dropdown li {
  display: block;
  padding: 1rem 0;
}
ul#dropdown li a{
  font-size: 1.5rem;
  color: #6D747A;
}

ul#dropdown {
  width: 40vh;
  position: absolute;
  z-index: 999;
  display: none;
  background-color: white;
  margin-top: 2.6rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
#dropdown.active {
  display: block;
}
.list #heading {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: rebeccapurple; */
}
.list #heading img {
  border-radius: 5rem;
  width: 20%;
  height: 20%;
}

/* menu-bar */
#menu-bar {
  columns: white;
  padding: 1rem;
  font-size: 4rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: var(--color-purple);
  display: none;
}

/* search bar */
.search_container {
  display: flex;
  place-items: center;
  margin: 1rem;                                     
}
.search_container .bar input {
  width: 100%;
  height: 3rem;
  padding: 2rem;
  border-radius: 1rem 0 0 1rem;
  background-color: #f8f9fa;
  border: 1px solid #ebedf0;
}
.search_container .icon {
  height: 4rem;
  background-color: var(--color-purple);
  color: white;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 0 1rem 1rem 0;
}

/* icons */
header .icons {
  width: 10%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
header .icons i {
  color: var(--color-purple);
}

/* button */
.btn button {
  border-radius: 1rem;
  padding: 1rem 2.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  flex-shrink: 0;
  background-color: transparent;
  border: 1px solid var(--color-purple);
}
.btn button a {
  padding: 1rem;
  color: var(--color-purple);
}

/* ------------------------------------------------- HOME SECTION------------------------------------------------------------ */

/* content-container */
#home{
  background-color: var(--color-lightPurple);
}
.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-left: 10%;
}
.home-container .content-container {
  width: 100%;
}
.home-container .content-container .home-content h1 {
  font-style: italic;
  font-size: 2.5rem;
  margin: 2rem 0;
  font-weight: 600;
}
.home-container .content-container .home-content p {
  font-size: 1.4rem;
  margin: 2rem 0;
  font-weight: 4 00;
}
.home-container .content-container .home-image img {
  width: 100%;
  margin-top: 10%;
}

.format-container{                               
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* form-container */
.form-box {
  width: 80%;
  height: 120%;
  position: relative;
  overflow: hidden;
}
.button-box {
  margin: 2rem 9%;
  position: relative;
}
.button-box button {
  color: var(--color-purple);
  font-size: 2rem;
}
.toggle-btn {
  padding: 1rem 5%;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline: none;
  position: relative;
}
#btn {
  top: 4rem;
  left: 0;
  position: absolute;
  width: 20%;
  height: 2px;
  background: var(--color-purple);
  border-radius: 30px;
  transition: 0.5s;
}
.slider-section {
  position: absolute;
  width: 83%;
  transition: 0.5s;
}
.slider-section .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.slider-section .box .check-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  }
 input[type='checkbox'] { 
  border: 2px solid var(--color-purple);
  width: 20px;
  height: 20px;
 }
.slider-section .box .check-box span {
  font-size: 1.2rem;
  padding: 0rem 1rem;
}
.slider-section .box p {
  font-size: 1.2rem;
}
.slider-section .ps-text {
  font-size: 1.2rem;
  text-align: right;
  color: #939ca3;
}
.button-group {
  display: flex;
  flex-direction: column;
  margin: 2rem 9%;
  order: 1;                                       
}
.button-group .btn-box {
  border: 1px solid var(--color-purple);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  cursor: pointer;
}
.button-group .btn-box img {
  width: 5%;
  height: 5%;
  margin: 1rem 5%;
}
.button-group .btn-box p {
  font-size: 1.2rem;
  font-weight: bold;
  width: 70%;
  text-align: center;
}
.message {
  margin: 2rem 1%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  order: 2;                                      
}
#login-form{
  order: 3;                                    
}
.slide-container{
  order: 4;      
  background-color: red;      
  text-align: center;    
}
.lines {
  width: 50%;
  display: flex;
  gap: 1rem;
  font-weight: bold;
}
.message p {
  font-size: 1.2rem;
}

.form-group {
  position: relative;
  text-align: center;
  margin: 2rem 0;
}

.form-group input {
  width: 83%;
  padding: 1.2rem 2%;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.form-group .eye-icon {
  position: relative;
  top: 70%;
  right: 30px;
  cursor: pointer;
}
.form-group .eye-icon i {
  color: #6d747a;
  font-size: 1.4rem;
}
.submit-btn {
  width: 100%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 1rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.ts-style {
  font-size: 1.2rem;
  color: #6d747a;
  margin: 1rem 0;
}
.join-btn {
  width: 100%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  background-color: var(--color-purple);
  border: 0;
  border-radius: 0.5rem;
}
#sigin {
  left: 50px;
}
#joinIn {
  left: 700px;
}

/* ------------------------------------------------- SERVICE SECTION------------------------------------------------------------ */

#services{
  background-color: white;
}
.services .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
  padding: 2.5rem 9%;
  margin: 10rem 0;
}
.services .card-container .cards {
  height: 100%;
  border-radius: 0.5rem;
  padding: 2rem 5rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 2px solid var(--color-darkGrey);
  cursor: pointer;
}

.services .card-container .cards .card-heading {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  margin: 2rem 0;
}
.services .card-container .cards .card-heading i {
  font-size: 2.8rem;
}
.services .card-container #card-1 i {
  color: var(--color-purple);
}
.services .card-container #card-1:hover i {
  color: white;
}
.services .card-container #card-2 i {
  color: var(--color-green);
}
.services .card-container #card-2:hover i {
  color: white;
}
.services .card-container #card-3 i {
  color: var(--color-red);
}
.services .card-container #card-3:hover i {
  color: white;
}
.services .card-container #card-4 i {
  color: var(--color-blue);
}
.services .card-container #card-4:hover i {
  color: white;
}
.services .card-container .cards p {
  margin: 2rem 0;
}
.services .card-container .cards:hover p {
  color: white;
}
.services .card-container .cards:hover h3 {
  color: white;
}

#card-1:hover {
  background-color: var(--color-purple);
  border: 2px solid var(--color-purple);
}
#card-2:hover {
  background-color: var(--color-green);
  border: 2px solid var(--color-green);
}
#card-3:hover {
  background-color: var(--color-red);
  border: 2px solid var(--color-red);
}
#card-4:hover {
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
}

.services .card-container .cards i {
  padding: 1rem;
  font-size: 5rem;
  color: #5468ff;
}

.services .card-container .cards h3 {
  font-size: 2.5rem;
  color: #333;
}
.services .card-container .cards p {
  font-size: 1.5rem;
  color: #666;
  padding: 1rem 0;
}
.btn-card button {
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  flex-shrink: 0;
  background-color: transparent;
  border: 2px solid var(--color-purple);
  color: var(--color-purple);
}
.services .card-container .cards:hover button {
  border: 2px solid white;
  color: white;
}

/* ------------------------------------------------- ADD YOUR OWN SECTION------------------------------------------------------------ */
#add-section {
  background-color: #f7fdff;
  padding: 8rem 9%;
}
.add-container {
  background-color: white;
  padding: 2rem 2%;
  border: 2px solid var(--color-darkGrey);
  border-radius: 0.5rem;
}
.add-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  margin: 2rem 1rem;
}
.add-heading img {
  width: 3%;
  height: 3%;
}
.add-container p {
  font-size: 1.5rem;
  margin: 1rem;
  line-height: 3rem;
}
.add-container .add-button {
  margin: 3rem 1rem;
}

/* ------------------------------------------------- TESTIMONIAL SECTION------------------------------------------------------------ */
#testimonial-section {
  padding: 5rem 9%;
  background-color: white;
}
.record-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 70% 30%;
  place-items: center;
  justify-content: center;
  padding: 2rem 2%;
}
.record-image {
  margin: 3rem 0;
}
.record-image img {
  width: 100%;
  height: 70%;
}
.record-container .info-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: end;
}
.record-container .info-detail img {
  width: 30%;
}
.record-container .info-detail h2 {
  color: var(--color-purple);
  font-size: 1.8rem;
}
.record-container .info-detail p {
  color: var(--color-blue);
  font-size: 1.7rem;
}

/* ------------------------------------------------- COMMUNITY SECTION------------------------------------------------------------ */
#community-section {
  background-color: #f7fdff;
  padding: 5rem 9%;
}
.community-container h1 {
  font-style: italic;
  font-size: 3rem;
  margin: 2rem 0;
}
.btn-community button {
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.8rem;
  flex-shrink: 0;
  background-color: var(--color-purple);
  border: 2px solid var(--color-purple);
  color: white;
  margin: 2rem 0;
}
.community-image img {
  width: 100%;
  height: 100%;
}
.community-image {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 10%;
}

/* ------------------------------------------------- FOOTER SECTION------------------------------------------------------------ */
.footer {
  background: white;
  padding: 5rem 3% 0 3%;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.footer .box-container .box {
  padding: 1rem 0;
  margin: 0 9%;
}
.footer .box-container .box h3 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: black;
  font-weight: bold;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 0 1rem;
  line-height: 3rem;
  color: black;
  font-weight: 400;
}

.footer .box-container .social-links .links {
  display: flex;
  gap: 1rem;
}
.footer .box-container .social-links .links i {
  height: 100%;
  width: 100%;
  background-color: #ebedf0;
  text-align: center;
  line-height: 3rem;
  border-radius: 50%;
  font-size: 1.8rem;
  color: #6d747a;
  transition: all 0.5s ease;
  cursor: pointer;
}
.footer .box-container .social-links .links i:hover {
  color: var(--color-purple);
  background-color: var(--color-lightPurple);
}

.footer .box-container .box a:hover {
  color: var(--color-purple);
}
.footer .box-container .invite {
  margin: 5rem 0;
}
.footer .box-container h3 {
  margin-left: 1rem;
}
.credit-container {
  text-align: center;
  padding: 3rem 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  background-color: var(--color-lightPurple);
}

.invite .search_container .invite-icon h2 {
  background-color: var(--color-purple);
  color: white;
  padding: 1.12rem;
  font-size: 1.4rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

#fixed-button{
    background-color: white;
    border: 1px solid var(--color-darkGrey);
    width: max-content;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    z-index: 2;
    position: fixed;
    left: 93%;
    transform: translateX(-50%);
    bottom: 20rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}
#fixed-button:active{
  background-color: #8064a2;
}
#fixed-button a{
    background: transparent;
    padding: 0.9rem;
    display: flex;
    color: var(--color-light);
}
#fixed-button a i{
  font-size: 3rem;
  color: #939CA3;
}
#fixed-button:active i{
  color: white;
}
#message{
  background-color: white;
  border: 1px solid var(--color-darkGrey);
  width: max-content;
  display: block;
  padding: 0.5rem 1rem;
  z-index: 2;
  position: fixed;
  left: 93%;
  transform: translateX(-50%);
  bottom: 16rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  display: none;
  font-size: 1.2rem;
  font-weight: bold;
}
#fixed-button:hover + #message {
  display: block;
  color: var(--color-purple);
}
